<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<header>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/project/css/passwordChange.css"
          th:href="@{/project/css/passwordChange.css}">
    <script src="../../static/project/js/passwordChange.js"
            th:src="@{/project/js/passwordChange.js}"></script>
</header>
<body>
<div class="passwordChange">
    <form action="/personalCenter-change" id="passwordChange" class="updatePerson" method="post">
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="id" th:value="${session.manager.id}">
        <div class="updatePersons">
            <div class="updatePersonsTitle">新密码 :</div>
            <input id="newPassword" type="password" name="password">
        </div>
        <div class="updatePersons">
            <div class="updatePersonsTitle">再次确认 :</div>
            <input id="confirmPassword" type="password" name="confirmpassword">
        </div>
        <div class="updateButton">
            <input id="submits" onclick="changePassword()" type="button" value="保存">
            <input id="reset" type="reset" value="重置">
        </div>
    </form>
</div>
</body>
</html>