<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<header>
    <meta charset="UTF-8">
</header>
<form action="/uploadPicture" class="uploadPicture" enctype="multipart/form-data" target="toFrame" method="post">
    <label class="upload" for="file">选择缩略图</label>
    <input id="file" type="file" onchange="changePicture()" name="file" style="display: none"
           accept="image/jpeg, image/png">
    <img class="review">
</form>
<iframe hidden="hidden" id="toFrame" src="" frameborder="0" name="toFrame"></iframe>
<form action="/insertReview" class="insertReview" method="post">
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" id="picture" name="picture">
    <input type="hidden" name="reviewstatus" value="0">
    <div class="insertReviews">
        <div class="ireviewTitles">回顾名称 :</div>
        <input id="ititle" name="title">
    </div>
    <div class="insertReviews">
        <div class="ireviewTitles">相关活动 :</div>
        <select id="irelationact" name="relationact">
            <option th:text="选择活动" value=""></option>
            <option th:each="activityList,status : ${activityList}"
                    th:value="${activityList.id}" th:text="${activityList.name}"></option>
        </select>
    </div>
    <div class="insertContent">
        <div class="ireviewTitles">回顾内容 :</div>
        <div style="margin-top: 16px" id="editor0"></div>
        <input hidden="hidden" id="iContent" name="content">
    </div>
    <div class="insertButtons">
        <input style="border: #1ab394; background-color: #1ab394" id="reviewSubmit" type="submit" value="提交">
    </div>
</form>
<script type="text/javascript">
    const E = window.wangEditor
    const editor0 = new E('#editor0')
    editor0.config.uploadImgServer = "/uploadImages"
    editor0.config.uploadFileName = 'file'
    editor0.config.uploadImgMaxSize = 1024 * 1024
    editor0.config.uploadImgAccept = ['jpg', 'jpeg', 'png']
    editor0.config.uploadImgMaxLength = 1
    editor0.config.height = 250
    editor0.config.excludeMenus = [
        'video'
    ]
    editor0.config.onchange = function (html) {
        $('#iContent').val(html)
    }
    editor0.create()
</script>
<script th:inline="javascript">
    function changePicture() {
        var reads = new FileReader();
        var pics = document.querySelector("#file").files[0];
        var size = (pics.size / 1024).toFixed(0);
        reads.readAsDataURL(pics);
        reads.onload = function (e) {
            document.querySelector(".review").src = this.result;
            if (size >= 1024) {
                window.alert("图片最大不能超过1MB!")
            } else {
                $('.uploadPicture').submit();
                $("#toFrame").load(function(){
                    var text = $(this).contents().find("body").text(); //获取到的是json的字符串
                    $("#picture").val(text);
                })
            }
        }
    }
</script>
</html>