<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>活动管理</title>
    <link rel="stylesheet" href="../../../static/component/bootstrap-3.3.7/css/bootstrap.css"
          th:href="@{/component/bootstrap-3.3.7/css/bootstrap.css}">
    <link rel="stylesheet" href="../../../static/project/css/frame.css"
          th:href="@{/project/css/frame.css}">
    <link rel="stylesheet" href="../../../static/project/css/activityManage.css"
          th:href="@{/project/css/activityManage.css}">
    <script src="../../../static/project/js/frame.js"
            th:src="@{/project/js/frame.js}"></script>
    <script src="../../../static/project/js/infoManage.js"
            th:src="@{/project/js/infoManage.js}"></script>
    <script src="../../../static/component/jquery-2.2.4.js"
            th:src="@{/component/jquery-2.2.4.js}"></script>
    <script src="../../../static/component/bootstrap-3.3.7/js/bootstrap.js"
            th:src="@{/component/bootstrap-3.3.7/js/bootstrap.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="frame::header"></div>
    <div class="body">
        <div th:replace="frame::panelz(${4})"></div>
        <div class="interface">
            <form action="/activityManage" class="activityForm" method="get">
                <div class="formTitles">活动名称:</div>
                <input id="name" name="name" th:value="${session.selectiveActivity.name}">
                <div class="formTitles">活动用时:</div>
                <input id="time" name="time" th:value="${session.selectiveActivity.time}">
                <div class="formTitles">活动人数:</div>
                <input id="num" name="num" th:value="${session.selectiveActivity.num}">
                <div class="formTitles">活动价格:</div>
                <input id="price" name="price" th:value="${session.selectiveActivity.price}">
                <div class="formTitles">活动场地:</div>
                <select id="field" name="field">
                    <option th:selected="${session.selectiveActivity.field == ''}" value=''>不限</option>
                    <option th:each="baseList,status : ${baseList}"
                            th:selected="${session.selectiveActivity.field == baseList.id}"
                            th:value="${baseList.id}"
                            th:text="${baseList.name}"></option>
                </select>
                <!--                <div class="formTitles">类型:</div>-->
                <!--                <select id="type" name="type">-->
                <!--                    <option th:selected="${session.selectiveActivity.type == ''}" value=''>不限</option>-->
                <!--                    <option th:each="typeList,status : ${typeList}"-->
                <!--                            th:selected="${session.selectiveActivity.type == typeList.type}" th:value="${typeList.type}"-->
                <!--                            th:text="${typeList.type}"></option>-->
                <!--                </select>-->
                <!--                <div class="formTitles">收获:</div>-->
                <!--                <select id="harvest" name="harvest">-->
                <!--                    <option th:selected="${session.selectiveActivity.harvest == ''}" value=''>不限</option>-->
                <!--                    <option th:each="activityList,status : ${activityList}"-->
                <!--                            th:selected="${session.selectiveActivity.harvest == activityList.harvest}" th:value="${activityList.harvest}"-->
                <!--                            th:text="${activityList.type}"></option>-->
                <!--                </select>-->
                <div class="formTitles">状态:</div>
                <select id="actstatus" name="actstatus">
                    <option th:selected="${session.selectiveActivity.actstatus == ''}" value="">所有</option>
                    <option th:selected="${session.selectiveActivity.actstatus == 0}" value='0'>未上架</option>
                    <option th:selected="${session.selectiveActivity.actstatus == 1}" value='1'>已上架</option>
                </select>
                <div class="formTitles">更新时间:</div>
                <input id="ustartime" name="ustartime" type="date"
                       th:value="${#dates.format(session.selectiveActivity.ustartime, 'yyyy-MM-dd')}">
                <div class="formTitles">-</div>
                <input id="uendtime" name="uendtime" type="date"
                       th:value="${#dates.format(session.selectiveActivity.uendtime, 'yyyy-MM-dd')}">
                <div class="formTitles">创建时间:</div>
                <input id="cstartime" name="cstartime" type="date"
                       th:value="${#dates.format(session.selectiveActivity.cstartime, 'yyyy-MM-dd')}">
                <div class="formTitles">-</div>
                <input id="cendtime" name="cendtime" type="date"
                       th:value="${#dates.format(session.selectiveActivity.cendtime, 'yyyy-MM-dd')}">
                <input style="border: #1ab394; background-color: #1ab394" id="submit" type="submit" value="搜索">
                <a style="border:#f8ac59; background-color: #f8ac59" id="resets" th:href="@{/activityManage}">重置</a>
            </form>
            <div class="activityLists">
                <a href="javascript:void(0)" id="insertData" th:onclick="|insertActivity()|" data-toggle="modal"
                   data-backdrop="static"
                   data-target="#insertActivity">新增活动</a>
                <div class="listTitle">
                    <div class="listTitles">活动ID</div>
                    <div class="listTitles">活动名称</div>
                    <div class="listTitlest">缩略图</div>
                    <div class="listTitles">用时</div>
                    <div class="listTitles">人数</div>
                    <div class="listTitles">价格</div>
                    <div class="listTitles">状态</div>
                    <div class="listTitlesf">活动场地</div>
                    <div class="listTitlesu">更新时间</div>
                    <div class="listTitlesc">创建时间</div>
                    <div class="listTitlesd">操作</div>
                </div>
                <div class="listData" th:each="activityList,status : ${activityList}">
                    <div class="listTitles" th:text="${activityList.id}">活动ID</div>
                    <div class="listTitles" th:text="${activityList.name}">活动名称</div>
                    <img style="max-height: 55px;border: 1px solid #e5e6e7;" class="listTitlest"
                         th:src="${activityList.picture}">
                    <div class="listTitles" th:text="${activityList.time}+'小时'">用时</div>
                    <div class="listTitles" th:text="${activityList.num}">人数</div>
                    <div class="listTitles" th:text="${activityList.price}+'元 /人'">价格</div>
                    <div class="listTitles" th:text="${activityList.actstatusz}">状态</div>
                    <div class="listTitlesf" th:text="${activityList.fieldz}">活动场地</div>
                    <div class="listTitlesu" th:text="${#dates.format(activityList.updatetime, 'yyyy-MM-dd HH:mm:ss')}">
                        更新时间
                    </div>
                    <div class="listTitlesc" th:text="${#dates.format(activityList.createtime, 'yyyy-MM-dd HH:mm:ss')}">
                        创建时间
                    </div>
                    <div class="listTitlesd">
                        <a href="javascript:void(0)" id="updateData" th:onclick="|updateActivity(${activityList.id})|"
                           type="button" data-toggle="modal" data-backdrop="static"
                           data-target="#updateActivity">更新</a>
                        <a href="javascript:void(0)" th:if="${activityList.actstatus} != 1" id="sj"
                           th:onclick="|sjActivity(${activityList.id})|" type="button" data-toggle="modal"
                           data-backdrop="static"
                           data-target="#sjActivity">上架</a>
                        <a href="javascript:void(0)" th:if="${activityList.actstatus} == 1" id="xj"
                           th:onclick="|xjActivity(${activityList.id})|" type="button" data-toggle="modal"
                           data-backdrop="static"
                           data-target="#xjActivity">下架</a>
                        <a href="javascript:void(0)" id="deleteActivity"
                           th:onclick="|deleteActivity(${activityList.id})|"
                           type="button" data-toggle="modal" data-backdrop="static"
                           data-target="#deleteActivitys">删除</a>
                    </div>
                </div>
                <nav aria-label="Page navigation" class="text-center" style="margin: 0px;padding: 0px;">
                    <ul class="pagination">
                        <li th:if="${activityList.pageNum}>1">
                            <a th:href="@{/activityManage(pageNum=1)}" aria-label="Previous">
                                <span aria-hidden="true"><<</span>
                            </a>
                        </li>
                        <li th:if="${activityList.pageNum}>1">
                            <a th:href="@{/activityManage(pageNum=${activityList.pageNum}-1)}">&lt;</a>
                        </li>
                        <li th:if="${activityList.pageNum-3 gt 1}">
                            <a th:text="${activityList.pageNum-4}"
                               th:href="@{/activityManage(pageNum=${activityList.pageNum}-4)}"></a>
                        </li>
                        <li th:if="${activityList.pageNum-2 gt 1}">
                            <a th:text="${activityList.pageNum-3}"
                               th:href="@{/activityManage(pageNum=${activityList.pageNum}-3)}"></a>
                        </li>
                        <li th:if="${activityList.pageNum-1 gt 1}">
                            <a th:text="${activityList.pageNum-2}"
                               th:href="@{/activityManage(pageNum=${activityList.pageNum}-2)}"></a>
                        </li>
                        <li th:if="${activityList.pageNum gt 1}">
                            <a th:text="${activityList.pageNum-1}"
                               th:href="@{/activityManage(pageNum=${activityList.pageNum}-1)}"></a>
                        </li>
                        <!--/* 当前页 */-->
                        <li th:if="${activityList.pageNum le activityList.pages}"
                            th:class="${activityList.pageNum le activityList.pages ? 'active':''}">
                            <a th:text="${activityList.pageNum}"
                               th:href="@{/activityManage(pageNum=${activityList.pageNum})}"></a>
                        </li>
                        <li th:if="${activityList.pageNum+1 le activityList.pages}">
                            <a th:text="${activityList.pageNum+1}"
                               th:href="@{/activityManage(pageNum=${activityList.pageNum}+1)}"></a>
                        </li>
                        <li th:if="${activityList.pageNum+2 le activityList.pages}">
                            <a th:text="${activityList.pageNum+2}"
                               th:href="@{/activityManage(pageNum=${activityList.pageNum}+2)}"></a>
                        </li>
                        <li th:if="${activityList.pageNum+3 le activityList.pages}">
                            <a th:text="${activityList.pageNum+3}"
                               th:href="@{/activityManage(pageNum=${activityList.pageNum}+3)}"></a>
                        </li>
                        <li th:if="${activityList.pageNum lt activityList.pages}">
                            <a th:href="@{/activityManage(pageNum=${activityList.pageNum}+1)}">&gt;</a>
                        </li>
                        <li th:if="${activityList.pageNum lt activityList.pages}">
                            <a th:href="@{/activityManage(pageNum=${activityList.pages})}" aria-label="Next">
                                <span aria-hidden="true">>></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div th:replace="frame::modal"></div>
    <div id="insertActivity" class="modal fade bs-updateform-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel1">新增信息</h4>
                </div>
                <div id="updateform-modal-body1" class="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>
    <div id="updateActivity" class="modal fade bs-updateform-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">更新信息</h4>
                </div>
                <div id="updateform-modal-body2" class="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>
    <div id="deleteActivitys" class="modal fade bs-updateform-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel3">确认删除</h4>
                </div>
                <div id="updateform-modal-body3" class="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>
    <div id="sjActivity" class="modal fade bs-updateform-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel4">确认上架</h4>
                </div>
                <div id="updateform-modal-body4" class="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>
    <div id="xjActivity" class="modal fade bs-updateform-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel5">确认下架</h4>
                </div>
                <div id="updateform-modal-body5" class="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>