<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test.mapper.JoininfoMapper">

    <resultMap id="BaseResultMap" type="com.example.test.domain.Joininfo">
        <id property="id" column="ID" jdbcType="INTEGER"/>
        <result property="actid" column="ActID" jdbcType="INTEGER"/>
        <result property="aname" column="AName" jdbcType="VARCHAR"/>
        <result property="userid" column="UserID" jdbcType="INTEGER"/>
        <result property="unickname" column="UNickname" jdbcType="VARCHAR"/>
        <result property="uaccount" column="UAccount" jdbcType="VARCHAR"/>
        <result property="manageid" column="ManageID" jdbcType="INTEGER"/>
        <result property="mnickname" column="MNickname" jdbcType="VARCHAR"/>
        <result property="maccount" column="MAccount" jdbcType="VARCHAR"/>
        <result property="infostatus" column="InfoStatus" jdbcType="INTEGER"/>
        <result property="infostatusz" column="InfoStatusz" jdbcType="VARCHAR"/>
        <result property="createtime" column="CreateTime" jdbcType="TIMESTAMP"/>
        <result property="updatetime" column="UpdateTime" jdbcType="TIMESTAMP"/>
        <result property="username" column="UserName" jdbcType="VARCHAR"/>
        <result property="userphone" column="UserPhone" jdbcType="VARCHAR"/>
        <result property="useridno" column="UserIdNo" jdbcType="VARCHAR"/>
        <result property="usernums" column="UserNums" jdbcType="INTEGER"/>
        <result property="userprices" column="UserPrices" jdbcType="INTEGER"/>
        <result property="appointment" column="Appointment" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="StatisticalResults" type="com.example.test.domain.StatisticalResults">
        <result property="basename" column="BaseName" jdbcType="VARCHAR"/>
        <result property="years" column="Years" jdbcType="VARCHAR"/>
        <result property="months" column="Months" jdbcType="VARCHAR"/>
        <result property="querytime" column="QueryTime" jdbcType="TIMESTAMP"/>
        <result property="pricecount" column="PriceCount" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,ActID,UserID,
        ManageID,InfoStatus,CreateTime,
        UpdateTime,UserName,UserPhone,
        UserIdNo,UserNums,UserPrices,
        Appointment
    </sql>

    <select id="selectYear" resultMap="StatisticalResults">
        select distinct(date_format(CreateTime, '%Y')) Years
        from joininfo
    </select>

    <select id="selectMonth" parameterType="StatisticalResults" resultMap="StatisticalResults">
        select distinct(date_format(CreateTime, '%c')) Months
        from joininfo
        where date_format(CreateTime, '%Y') = date_format(#{querytime}, '%Y')
    </select>

    <select id="selectMoneysByYDate" parameterType="StatisticalResults" resultMap="StatisticalResults">
        select sum(j.UserPrices) pricecount, b.name BaseName
        from (joininfo j left join activity a on (j.actid = a.id)) left join base b on (a.field = b.id)
        where date_format(j.CreateTime, '%Y') = date_format(#{querytime}, '%Y')
        group by b.id
        order by sum(j.UserPrices) desc
    </select>

    <select id="selectMoneysByDate" parameterType="StatisticalResults" resultMap="StatisticalResults">
        select sum(j.UserPrices) pricecount, b.name BaseName
        from (joininfo j left join activity a on (j.actid = a.id)) left join base b on (a.field = b.id)
        where date_format(j.CreateTime, '%Y-%c') = date_format(#{querytime}, '%Y-%c')
        group by b.id
        order by sum(j.UserPrices) desc
    </select>

    <select id="selectCount" resultType="Integer">
        select count(*)
        from joininfo
        where InfoStatus in (1, 4)
    </select>

    <select id="selectCountToday" resultType="Integer">
        select count(*)
        from joininfo
        where InfoStatus in (1, 4)
          and date_format(CreateTime, '%Y-%c-%d') = curdate()
    </select>

    <select id="selectAllJoinInfo" parameterType="com.example.test.domain.Joininfo" resultMap="BaseResultMap">
        select j.*, d.RelationValue InfoStatusz, u.Nickname UNickname, u.Account UAccount, m.Nickname MNickname,
        m.Account MAccount, a.Name AName
        from (((joininfo j left join users u on (j.UserID = u.id)) left join managers m on (j.ManageID = m.id)) left
        join
        activity a on (j.ActID = a.id))
        left join dictionary d on (d.RelationName = 'InfoStatus' and j.InfoStatus = d.RelationID)
        <where>
            <if test="joininfo.uaccount != null and joininfo.uaccount.trim().length()>0">
                <bind name="uaccountz" value="'%' + joininfo.uaccount + '%'"/>
                and u.Account like #{uaccountz}
            </if>
            <if test="joininfo.unickname != null and joininfo.unickname.trim().length()>0">
                <bind name="unicknamez" value="'%' + joininfo.unickname + '%'"/>
                and u.NickName like #{unicknamez}
            </if>
            <if test="joininfo.mnickname != null and joininfo.mnickname.trim().length()>0">
                <bind name="mnicknamez" value="'%' + joininfo.mnickname + '%'"/>
                and m.NickName like #{mnicknamez}
            </if>
            <if test="joininfo.maccount != null and joininfo.maccount.trim().length()>0">
                <bind name="maccountz" value="'%' + joininfo.maccount + '%'"/>
                and m.Account like #{maccountz}
            </if>
            <if test="joininfo.aname != null and joininfo.aname.trim().length()>0">
                <bind name="anamez" value="'%' + joininfo.aname + '%'"/>
                and a.Name like #{anamez}
            </if>
            <if test="joininfo.username != null and joininfo.username.trim().length()>0">
                <bind name="usernamez" value="'%' + joininfo.username + '%'"/>
                and j.UserName like #{usernamez}
            </if>
            <if test="joininfo.userphone != null and joininfo.userphone.trim().length()>0">
                <bind name="userphonez" value="'%' + joininfo.userphone + '%'"/>
                and j.UserPhone like #{userphonez}
            </if>
            <if test="joininfo.useridno != null and joininfo.useridno.trim().length()>0">
                <bind name="useridnoz" value="'%' + joininfo.useridno + '%'"/>
                and j.UserIdNo like #{useridnoz}
            </if>
            <if test="joininfo.infostatus != null">
                and j.InfoStatus = #{joininfo.infostatus}
            </if>
            <if test="joininfo.astartime != null">
                and j.Appointment >= #{joininfo.astartime}
            </if>
            <if test="joininfo.aendtime != null">
                and j.Appointment <![CDATA[<]]>= #{joininfo.aendtime}
            </if>
            <if test="joininfo.cstartime != null">
                and j.CreateTime >= #{joininfo.cstartime}
            </if>
            <if test="joininfo.cendtime != null">
                and j.CreateTime <![CDATA[<]]>= #{joininfo.cendtime}
            </if>
            <if test="joininfo.ustartime != null">
                and j.UpdateTime >= #{joininfo.ustartime}
            </if>
            <if test="joininfo.uendtime != null">
                and j.UpdateTime <![CDATA[<]]>= #{joininfo.uendtime}
            </if>
            and j.InfoStatus != 3
        </where>
        order by j.id desc
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from joininfo
        where ID = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from joininfo
        where ID = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.example.test.domain.Joininfo"
            useGeneratedKeys="true">
        insert into joininfo
        ( ID, ActID, UserID
        , ManageID, InfoStatus, CreateTime
        , UpdateTime, UserName, UserPhone
        , UserIdNo, UserNums, UserPrices
        , Appointment)
        values ( #{id,jdbcType=INTEGER}, #{actid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}
               , #{manageid,jdbcType=INTEGER}, #{infostatus,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}
               , #{updatetime,jdbcType=TIMESTAMP}, #{username,jdbcType=VARCHAR}, #{userphone,jdbcType=VARCHAR}
               , #{useridno,jdbcType=VARCHAR}, #{usernums,jdbcType=INTEGER}, #{userprices,jdbcType=INTEGER}
               , #{appointment,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.example.test.domain.Joininfo"
            useGeneratedKeys="true">
        insert into joininfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">ID,</if>
            <if test="actid != null">ActID,</if>
            <if test="userid != null">UserID,</if>
            <if test="manageid != null">ManageID,</if>
            <if test="infostatus != null">InfoStatus,</if>
            <if test="createtime != null">CreateTime,</if>
            <if test="updatetime != null">UpdateTime,</if>
            <if test="username != null">UserName,</if>
            <if test="userphone != null">UserPhone,</if>
            <if test="useridno != null">UserIdNo,</if>
            <if test="usernums != null">UserNums,</if>
            <if test="userprices != null">UserPrices,</if>
            <if test="appointment != null">Appointment,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=INTEGER},</if>
            <if test="actid != null">#{actid,jdbcType=INTEGER},</if>
            <if test="userid != null">#{userid,jdbcType=INTEGER},</if>
            <if test="manageid != null">#{manageid,jdbcType=INTEGER},</if>
            <if test="infostatus != null">#{infostatus,jdbcType=INTEGER},</if>
            <if test="createtime != null">#{createtime,jdbcType=TIMESTAMP},</if>
            <if test="updatetime != null">#{updatetime,jdbcType=TIMESTAMP},</if>
            <if test="username != null">#{username,jdbcType=VARCHAR},</if>
            <if test="userphone != null">#{userphone,jdbcType=VARCHAR},</if>
            <if test="useridno != null">#{useridno,jdbcType=VARCHAR},</if>
            <if test="usernums != null">#{usernums,jdbcType=INTEGER},</if>
            <if test="userprices != null">#{userprices,jdbcType=INTEGER},</if>
            <if test="appointment != null">#{appointment,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.test.domain.Joininfo">
        update joininfo
        <set>
            <if test="actid != null">
                ActID = #{actid,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                UserID = #{userid,jdbcType=INTEGER},
            </if>
            <if test="manageid != null">
                ManageID = #{manageid,jdbcType=INTEGER},
            </if>
            <if test="infostatus != null">
                InfoStatus = #{infostatus,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                CreateTime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="username != null">
                UserName = #{username,jdbcType=VARCHAR},
            </if>
            <if test="userphone != null">
                UserPhone = #{userphone,jdbcType=VARCHAR},
            </if>
            <if test="useridno != null">
                UserIdNo = #{useridno,jdbcType=VARCHAR},
            </if>
            <if test="usernums != null">
                UserNums = #{usernums,jdbcType=INTEGER},
            </if>
            <if test="userprices != null">
                UserPrices = #{userprices,jdbcType=INTEGER},
            </if>
            <if test="appointment != null">
                Appointment = #{appointment,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.test.domain.Joininfo">
        update joininfo
        set ActID       = #{actid,jdbcType=INTEGER},
            UserID      = #{userid,jdbcType=INTEGER},
            ManageID    = #{manageid,jdbcType=INTEGER},
            InfoStatus  = #{infostatus,jdbcType=INTEGER},
            CreateTime  = #{createtime,jdbcType=TIMESTAMP},
            UpdateTime  = #{updatetime,jdbcType=TIMESTAMP},
            UserName    = #{username,jdbcType=VARCHAR},
            UserPhone   = #{userphone,jdbcType=VARCHAR},
            UserIdNo    = #{useridno,jdbcType=VARCHAR},
            UserNums    = #{usernums,jdbcType=INTEGER},
            UserPrices  = #{userprices,jdbcType=INTEGER},
            Appointment = #{appointment,jdbcType=TIMESTAMP}
        where ID = #{id,jdbcType=INTEGER}
    </update>
</mapper>
